body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
iframe {
  border: 0px;
}
main {
  margin: 2% 3%;
}

footer {
  text-align: center;
}

.navbar {
  background-color: white;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 56px;
  z-index: 10;
}

.bar-button {
  margin: 0 24px;
  font-size: 1.2rem;
  fill: rgb(96, 96, 96);
  height: 56px;
  width: 24px;
}

.youtube-logo {
  width: 80px;
  height: 56px;
}

.search-bar {
  display: flex;
  flex: 1;
  margin: auto;
  height: 30px;
  width: 100%;
  max-width: 640px;
}

.search-bar input {
  background: url(http://www.gstatic.com/inputtools/images/tia.png) no-repeat scroll 98% 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: auto 0;
  padding-left: 6px;
}

.search-button {
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  width: 65px;
}

.search-button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  opacity: 1;
}

.search-svg {
  margin: auto;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  opacity: 0.5;
}

.icons-list {
  display: flex;
  list-style-type: none;
  margin: 0 16px 0 0;
  padding: 0;
  height: 56px;
}

.icon {
  fill: rgb(96, 96, 96);
  height: 56px;
  width: 24px;
  padding: 0 12px;
}

.avatar-icon {
  border-radius: 50%;
  margin-top: 9px;
  width: 38px;
  height: 38px;
}

.player-video {
  position: relative;
  padding-bottom: 14.0625%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.player-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.fa-youtube {
  color: red;
}

.logo-title {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.player-video {
  min-width: 560px;
  min-height: 315px;
}

.player {
  padding: 20px 40px;
  width: 60%;
}

.video-title {
  font-size: 1.2rem;
}

.up-next {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 40px;
}

.next-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.next-card-details p {
  margin: 0px;
  margin-left: 8px;
}
