body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
iframe {
  border: 0px;
}
main {
  margin: 2% 3%;
}

footer {
  text-align: center;
}

.navbar {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 56px;
  z-index: 10;
}

.bar-button {
  margin: 0 24px;
  font-size: 1.2rem;
  fill: rgb(96, 96, 96);
  height: 56px;
  width: 24px;
}

.youtube-logo {
  width: 80px;
  height: 56px;
}

.search-bar {
  align-self: center;
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 40%;
}

.search-bar input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto 0;
}

.icons-list {
  display: flex;
  list-style-type: none;
  margin: 0 16px 0 auto;
  padding: 0;
  height: 56px;
}

.icon {
  fill: rgb(96, 96, 96);
  height: 56px;
  width: 24px;
  padding: 0 12px;
}

.avatar-icon {
  border-radius: 50%;
  margin-top: 9px;
  width: 38px;
  height: 38px;
}

.player-video {
  position: relative;
  padding-bottom: 14.0625%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.player-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.fa-youtube {
  color: red;
}

.logo-title {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.player-video {
  min-width: 560px;
  min-height: 315px;
}

.player {
  padding: 20px 40px;
  width: 60%;
}

.video-title {
  font-size: 1.2rem;
}

.up-next {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 40px;
}

.next-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.next-card-details p {
  margin: 0px;
  margin-left: 8px;
}